body{
  background: linear-gradient(48deg, rgba(31,38,48,1) 12%, rgba(38,23,59,1) 98%) fixed;
  color: #ffffff !important;
  margin: 0;
  overflow-x: hidden;
  margin: 0
}
html{
  overflow-x: hidden;
}

header{
  width: 100vw;
  height: auto;
  
  margin-bottom: 20px;
  line-height: 0;
  padding-top: 15px;
  height: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.portfolio-value{
  height: auto;
  padding: 5px 10px;
}

.positive-value{
  color: green;
}

.negative-value{
  color: red;
}

.coin-title {
  margin: 0;
}

.centered-position{
  min-height: 100vh;
}

.full-width{
  width: 100%;
}

.interval-select{
  width: 100px;
  margin-left: 16px;
}
